<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <th:block th:replace="base :: headstuff"></th:block>
    <title>Egg Sauce</title>
</head>

<body>
<nav th:replace="base :: navbar"></nav>
<div id="egg-sauce" class="container">
	<div class="container recipe-container">
		<h1>Egg Sauce Recipe </h1>
		<img class="flags" src="/img/nigeria_flag.jpg" alt="Nigeria Flag" align="center">
		<p>Nigeria</p>
		<h2>Ingredients: </h2>
		<ul><li> 2 large tomatoes </li></ul>
		<ul><li> 1 large onion </li></ul>
		<ul><li> 1 scotch bonnet pepper </li></ul>
		<ul><li> 2 tablespoons of cooking oil (any type) </li></ul>
		<ul><li> 4 or 5 eggs (depending on number of people eating) </li></ul>
		<ul><li> Seasonings (suya pepper, garlic powder, thyme, etc) </li></ul>

		<h1>Directions: </h1>
		<p>Dice onions, tomatoes and 1 scotch bonnet pepper (depending on how hot you want it to be) or can be replaced with black pepper.</p>
		<p>Add the diced onions, tomatoes and pepper into a pot, and cook until some of the juices are dried up.</p>
		<p>Then add a table spoon or 2 (enough to cook the eggs) to the mixture.</p>
		<p>Fry for a little bit, then add seasonings ( suya pepper gotten from Tesco, any other type of seasoning pepper can be used, garlic powder, Nigerian knorr seasoning cubes stock cubes can be used instead but not diluted with water, thyme, pinch of salt and any other seasoning you like).</p>
		<p>Then add the eggs and cook until well done. </p>

		<h4>Serves 3 people</h4><br/>
	</div>
</div>
<th:block th:replace="base :: jslinks"></th:block>
</body>

</html>