<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <th:block th:replace="base :: headstuff"></th:block>
    <title>Pumpkin Rice Noodles</title>
</head>

<body>
<nav th:replace="base :: navbar"></nav>
<div id="pumpkin-rice-noodles" class="container">
	<div class="container recipe-container">
		<h1>Pumpkin Rice Noodles Recipe </h1>
		<img class="flags" src="/img/taiwan_flag.jpg" alt="Taiwan Flag" align="center">
		<p>Taiwan</p>
		<h2>Ingredients: </h2>
		<ul><li>100g (3.5 oz) dried rice vermicelli </li></ul>
		<ul><li> 2 tablespoons oil </li></ul>
		<ul><li> 2 cloves garlic, minced </li></ul>
		<ul><li> 100g (3.5 oz) ground pork </li></ul>
		<ul><li> 100g (3.5 oz) pumpkin (or kabocha), diced </li></ul>
		<ul><li> ½ cup water </li></ul>
		<ul><li> 2 tablespoons soy sauce </li></ul>
		<ul><li> 1 tablespoon sweet soy sauce </li></ul>
		<ul><li> 3 dashes white pepper </li></ul>

		<h1>Directions: </h1>
		<p>** Prep Time: 15 minutes | Cook Time: 5 minutes **</p>
		<p>1. Soak the dried rice vermicelli in warm water for about 20 minutes. Drain the water and set aside.</p>
		<p>2. Heat up the oil in a wok and add the garlic. Stir-fry the garlic until aromatic before adding the ground pork and pumpkin.</p>
		<p>3. Add the water, soy sauce, sweet soy sauce, white pepper and bring to boil.</p>
		<p>4. Add the rice vermicelli into the wok, stir to combine well with the ingredients in the wok. Continue to stir fry until the vermicelli is cooked through and soaked up the sauce. Dish out and serve immediately.</p>

		<h4>Serves 1 person</h4><br/>
	</div>
</div>
<th:block th:replace="base :: jslinks"></th:block>
</body>

</html>